<div class="container" >
  <h1 class="text-center mt-5 mb-4">Articles detail info</h1>

  <div class="card text-center shadow mb-5 bg-white rounded">
      <div class="card-header font-italic d-flex">
        <%= link_to gravatar_for(@article.user, size: 50), user_path(@article.user), class: "mr-3" %>
        <span class="align-self-center">by <%= @article.user.username if @article.user %></span>
      </div>
      <div class="card-body">
        <h5 class="card-title title text-left"><%= @article.title %></h5>
        <div class="card-text text-left"><%= simple_format(@article.description) %></div>
        <% if logged_in? && @article.user == current_user %>
          <div class="text-left">
            <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-outline-info" %> 
            <%= link_to 'Delete', article_path(@article), class: "btn btn-outline-danger", method: :delete, data: { confirm: "Are you sure?" } %>
          </div>
        <% end %>
      </div>
      <div class="card-footer text-muted">
        <small>Created <%= time_ago_in_words(@article.created_at) %> ago, edited <%= time_ago_in_words(@article.updated_at) %> ago</small>
      </div>
    </div>
    <div class="my-4">
      <%= link_to 'Back to articles', articles_path, class: "link" %>
    </div>
</div>