<h1 class="text-center mt-4">Create a new category</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'shared/errors', obj: @category %>
      <%= form_with(model: @category, local: true) do |f| %>
        <div class="form-group">
          <%= f.label :name, "Category name" %>
          <%= f.text_field :name, class: "form-control shadow rounded", placeholder: "Enter a name" %>
        </div>

        <div class="my-3">
          <%= f.submit class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <div class="mb-3">
      <%= link_to '[ Cancel and return to articles listing ]', articles_path, class: "link" %>
    </div>
  </div>
</div>